{% extends "network/layout.html" %}
{% block body %}
{% if user__1 != current_user %}
{{current_user}} <br>
{% else %}
hello,{{current_user}} <br>
{% endif %}
Follower {{follower.count}}
<br>
Following {{ following.count}}
{% if current_user != user %}
{% if  isFollowing  %}
<form action="{% url 'unfollow' user_id=current_user %}">
    <button>Unfollow</button>
</form>
{%  else %}
<form action="{% url 'follow' user_id=current_user %}">
    <button>Follow</button>
</form>
{% endif %}
{% endif %}
<div style="margin-left: 110px;">
    <h4>Posts</h4>
    {% for i in post reversed  %}<hr>
    Description:- 
    {{i.content}}
 <br>
    {% endfor %}
</div>

{% endblock %}